@if (!User.IsInRole("EMPLOYER"))
{
    Response.Redirect("~/Pages/Forbidden.cshtml");
    return;
}

@using EPAM.VacancyPortal.PL.WebPL.Models;

@{
    Page.Title = "My vacancies";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

@{
    var employer = EPAM.VacancyPortal.PL.WebPL.Models.EmployerRequestHandler.SelectByLogin(User.Identity.Name);
    var employerId = employer.Id;

    var vacancies = VacancyRequestHandler.SelectByEmployer(employer);
    if (vacancies.Count() == 0)
    {
        <div class="w-50 center alert alert-warning mt-2">
            No vacancies found.
        </div>
        return;
    }
}

<div id="vacancy-list">
    @foreach (var vacancy in vacancies)
    {
        <div id="vacancy-@vacancy.Id" class="border border-primary rounded-lg mt-2 mb-2 clearfix p-2 d-flex align-items-center">
            <div class="w-75 mt-2 float-left">
                <h3>@vacancy.Name</h3>
                <p>@vacancy.Description</p>
                <p>Salary: @vacancy.Salary</p>
                @if (vacancy.Remote)
                {
                    <p>Remote</p>
                }
                else
                {
                    <p>Not remote</p>
                }
            </div>
            <div class="float-right justify-content-center w-25 mt-2 btn-group-vertical" id="buttons-@vacancy.Id">
                @if (!vacancy.Active)
                {
                    <button class="activate-button btn btn-primary mb-1" value="@vacancy.Id">Activate Vacancy</button>
                }
                else
                {
                    <button class="deactivate-button btn btn-primary mb-1" value="@vacancy.Id">Deactivate Vacancy</button>
                }
                <button class="edit-button btn btn-primary mb-1" value="@vacancy.Id">Edit Vacancy</button>
                <button class="reqs-button btn btn-primary mb-1" value="@vacancy.Id">Manage requirements</button>
                <button class="delete-button btn btn-danger" value="@vacancy.Id">Delete Vacancy</button>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script>
    $('.edit-button').click(function () {
        location.href = '/Pages/Employer/EditVacancy.cshtml?vacancyId=' + $(this).val();
    });

    $('.reqs-button').click(function () {
        location.href = '/Pages/Employer/Requirements.cshtml?vacancyId=' + $(this).val();
    })

    $('.delete-button').click(function () {
        let id = $(this).val();
        $.post(
            '/Pages/RequestHandlers/VacancyRequests.cshtml',
            { type: 'deleteVacancy', id: $(this).val() },
            function (data) {
                let result = JSON.parse(data);
                if (result.Result == 'Success') {
                    $('#vacancy-' + id).remove();
                    if (!$('#vacancy-list').children().length > 0) {
                        $('#vacancy-list').append('<div class="w-50 center alert alert-warning mt-2">' +
                            'No vacancies found.' +
                            '</div >');
                    }
                }
                else {
                    alert(result.Message);
                }
            }
        );
    });

    function activate() {
        let button = $(this);
        let id = button.val();

        $.post(
            '/Pages/RequestHandlers/VacancyRequests.cshtml',
            { type: 'activateVacancy', id: id },
            function (data) {
                if (JSON.parse(data).Result == "Success") {
                    var newButton = $('<button/>',
                        {
                            text: 'Deactivate vacancy'
                        }
                    );
                    newButton.addClass('deactivate-button btn btn-primary mb-1');
                    newButton.val(id);
                    newButton.click(deactivate);
                    newButton.insertBefore(button);
                    button.remove();
                } else {
                    alert('Cannot activate vacancy');
                }
            }
        );
    }

    function deactivate() {
        let button = $(this);
        let id = button.val();

        $.post(
            '/Pages/RequestHandlers/VacancyRequests.cshtml',
            { type: 'deactivateVacancy', id: id },
            function (data) {
                if (JSON.parse(data).Result == "Success") {
                    var newButton = $('<button/>',
                        {
                            text: 'Activate vacancy'
                        }
                    );
                    newButton.addClass('activate-button btn btn-primary mb-1');
                    newButton.val(id);
                    newButton.click(activate);
                    newButton.insertBefore(button);
                    button.remove();
                } else {
                    alert('Cannot deactivate vacancy');
                }
            }
        );


    }

    $('.activate-button').click(activate);
    $('.deactivate-button').click(deactivate);
</script>