@if (!User.IsInRole("EMPLOYEE"))
{
    Response.Redirect("~/Pages/Forbidden.cshtml");
    return;
}

@using EPAM.VacancyPortal.PL.WebPL.Models;

@{
    Page.Title = "My profile";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

@{
    var employee = EmployeeRequestHandler.SelectByLogin(User.Identity.Name);
}

<div class="content-container w-50">
    <ul class="list-group employee-info">
        @if (!string.IsNullOrWhiteSpace(employee.Photo))
        {
            <li class="list-group-item text-center"><img class="employee-photo" src="@String.Format("data:image/jpg;base64,{0}",employee.Photo)" /></li>
        }
        <li class="list-group-item">Name: @employee.FirstName @employee.LastName</li>
        <li class="list-group-item">City: @employee.City</li>
        <li class="list-group-item">
            Relocation:
            @if (employee.Relocation)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </li>
        <li class="list-group-item text-center">
            @if (employee.Active)
            {
                <button class="btn btn-primary" id="deactivate-profile">Deactivate Profile</button>
            }
            else
            {
                <button class="btn btn-primary" id="activate-profile">Activate Profile</button>
            }
            <button class="btn btn-primary" id="edit-profile">Edit Profile</button>
            <button class="btn btn-primary" id="delete-profile">Delete Profile</button>
        </li>
    </ul>
</div>

<div class="employee-info mt-2 mr-auto ml-auto" id="submit-result"></div>

<div class="employee-info ml-auto mr-auto border border-1 border-primary pt-2 rounded-lg" id="employee-edit">
    <div class="form-group col">
        <label>New first name</label>
        <input type="text" class="form-control form-control-sm" name="FirstName" id="firstName" placeholder="New first name">
    </div>
    <div class="form-group col">
        <label>New last name</label>
        <input type="text" class="form-control form-control-sm" name="LastName" id="lastName" placeholder="New last name">
    </div>
    <div class="form-group col">
        <label>New city</label>
        <input type="text" class="form-control form-control-sm" name="City" id="city" placeholder="New city">
    </div>
    <div class="form-group col">
        <label class="form-control form-control-sm" for="relocation"><input type="checkbox" class="mr-2" id="relocation" name="Relocation" />Relocation</label>
    </div>
    <div class="form-group col">
        <label>New password</label>
        <input type="password" class="form-control form-control-sm" name="Password" id="password" placeholder="New password">
    </div>
    <div class="form-group col">
        <label>Repeat new password</label>
        <input type="password" class="form-control form-control-sm" name="RepeatPassword" id="repeatPassword" placeholder="Repeat new password">
    </div>
    <div class="form-group col">
        <label>New profile photo</label>
        <input type="file" class="form-control-file form-control-sm" name="image" id="image" accept=".jpg" formenctype="multipart/form-data">
    </div>
    <div class="form-group col">
        <button class="btn btn-block btn-primary" type="submit" id="submit">Save Changes</button>
    </div>
    <input type="hidden" class="form-control" id="employee-id" value="@employee.Id" />
</div>


@if (employee.Relocation)
{
    <script>
        document.getElementById('relocation').checked = true;
    </script>
}

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script>
    $('#submit').click(function () {
        let password = $('#password').val();
        let repeatPassword = $('#repeatPassword').val();
        if (password != repeatPassword) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Passwords don\'t match</div>'
            );
            return;
        }

        let fd = new FormData();
        fd.append('id', $('#employee-id').val());
        fd.append('type', 'editProfile');
        fd.append('firstName', $('#firstName').val());
        fd.append('lastName', $('#lastName').val());
        fd.append('relocation', $('#relocation').prop('checked'));
        fd.append('city', $('#city').val());
        fd.append('password', password);
        fd.append('image', $('#image')[0].files[0]);

        $.ajax({
            url: '/Pages/RequestHandlers/EmployeeRequests.cshtml',
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            success: (data) => {
                let result = JSON.parse(data);
                if (result.Result == "Error") {
                    $('#submit-result').html(
                        '<div class="alert alert-danger">' + result.Message + '</div>');
                } else {
                    $('#submit-result').html(
                        '<div class="alert alert-info">' + result.Message + '</div>');
                    setTimeout(() => location.reload(), 1500);
                }

            },
            error: (data) => {
                location.href = "/Pages/ErrorPage.cshtml";
            }
        });
    });

    $('#edit-profile').click(function () {
        if ($('#employee-edit').css("display") == "block") {
            $('#employee-edit').hide();
        }
        else {
            $('#employee-edit').show();
        }
    });

    $('#delete-profile').click(function () {
        $.post(
            '/Pages/RequestHandlers/EmployeeRequests.cshtml',
            { type: 'deleteProfile', id: $('#employee-id').val() },
            (data) => {
                $('#submit-result').html(
                    '<div class="alert alert-info">' + JSON.parse(data).Message + '</div>');
                setTimeout(() => location.href = "/Index.cshtml", 1000);
            }
        );
    }
    );

    function activate() {
        $.post(
            '/Pages/RequestHandlers/EmployeeRequests.cshtml',
            { type: 'activateProfile', id: @employee.Id},
            function (data) {
                let result = JSON.parse(data);
                if (result.Result == "Success") {
                    let deactivateButton = $('<button></button>');
                    deactivateButton.text('Deactivate profile');
                    deactivateButton.click(deactivate);
                    deactivateButton.addClass('btn btn-primary');
                    deactivateButton.attr('id', 'deactivate-profile');
                    $('#activate-profile').replaceWith(deactivateButton);
                }
            }
        );
    }

    function deactivate() {
        $.post(
            '/Pages/RequestHandlers/EmployeeRequests.cshtml',
            { type: 'deactivateProfile', id: @employee.Id},
            function (data) {
                let result = JSON.parse(data);
                if (result.Result == "Success") {
                    let activateButton = $('<button></button>');
                    activateButton.text('Activate profile');
                    activateButton.click(activate);
                    activateButton.addClass('btn btn-primary');
                    activateButton.attr('id', 'activate-profile');
                    $('#deactivate-profile').replaceWith(activateButton);
                }
            }
        );
    }

    $('#activate-profile').click(activate);
    $('#deactivate-profile').click(deactivate);
</script>