@if (!User.IsInRole("EMPLOYEE"))
{
    Response.Redirect("~/Index.cshtml");
}

@using EPAM.VacancyPortal.PL.WebPL.Models;

@{
    Page.Title = "My profile";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

@{
    var employee = EmployeeRequestHandler.SelectByLogin(User.Identity.Name);
}

<div class="content-container">
    <ul class="list-group employee-info">
        <li class="list-group-item">Name: @employee.FirstName @employee.LastName</li>
        <li class="list-group-item">City: @employee.City</li>
        <li class="list-group-item">
            Relocation:
            @if (employee.Relocation)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </li>
        <li class="list-group-item"><button class="btn btn-primary" id="edit-profile">Edit Profile</button> <button class="btn btn-primary" id="delete-profile">Delete Profile</button></li>
    </ul>
    @if (!string.IsNullOrWhiteSpace(employee.Photo))
    {
        <img class="employee-photo" src="@String.Format("data:image/jpg;base64,{0}",employee.Photo)" />
    }
</div>

<div class="employee-info" id="employee-edit">
    <div class="form-group col">
        <input type="text" class="form-control" name="FirstName" id="firstName" placeholder="New first name">
    </div>
    <div class="form-group col">
        <input type="text" class="form-control" name="LastName" id="lastName" placeholder="New last name">
    </div>
    <div class="form-group col">
        <input type="text" class="form-control" name="City" id="city" placeholder="New city">
    </div>
    <div class="form-group col">
        <label class="form-control" for="relocation"><input type="checkbox" class="mr-2" id="relocation" name="Relocation" />Relocation</label>
    </div>
    <div class="form-group col">
        <input type="password" class="form-control" name="Password" id="password" placeholder="New password">
    </div>
    <div class="form-group col">
        <input type="password" class="form-control" name="RepeatPassword" id="repeatPassword" placeholder="Repeat new password">
    </div>
    <div class="form-group col">
        <input type="file" class="form-control-file" name="image" id="image" accept=".jpg" formenctype="multipart/form-data">
    </div>
    <div class="for-group-col">
        <input type="hidden" class="form-control" id="employee-id" value="@employee.Id" />
    </div>
    <div class="form-group col">
        <button class="btn btn-block btn-primary" type="submit" id="submit">Save Changes</button>
    </div>
</div>

<div class="employee-info mt-1" id="submit-result"></div>


@if (employee.Relocation)
{
    <script>
        document.getElementById('relocation').checked = true;
    </script>
}

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script>
    $('#submit').click(function () {
        let password = $('#password').val();
        let repeatPassword = $('#repeatPassword').val();
        if (password != repeatPassword) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Passwords don\'t match</div>'
            );
            return;
        }

        let fd = new FormData();
        fd.append('id', $('#employee-id').val());
        fd.append('type', 'editProfile');
        fd.append('firstName', $('#firstName').val());
        fd.append('lastName', $('#lastName').val());
        fd.append('relocation', $('#relocation').prop('checked'));
        fd.append('city', $('#city').val());
        fd.append('password', password);
        fd.append('image', $('#image')[0].files[0]);

        $.ajax({
            url: '/Pages/RequestHandlers/EmployeeRequests.cshtml',
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            success: (data) => {
                let result = JSON.parse(data);
                if (result.Result == "Error") {
                    $('#submit-result').html(
                        '<div class="alert alert-danger">' + result.Message + '</div>');
                } else {
                    $('#submit-result').html(
                        '<div class="alert alert-info">' + result.Message + '</div>');
                    setTimeout(() => location.reload(), 1500);
                }

            },
            error: (data) => {
                location.href = "/Pages/ErrorPage.cshtml";
            }
        });
    });

    $('#edit-profile').click(function () {
        if ($('#employee-edit').css("display") == "block") {
            $('#employee-edit').hide();
        }
        else {
            $('#employee-edit').show();
        }
    });

    $('#delete-profile').click(function () {
        $.post(
            '/Pages/RequestHandlers/EmployerRequests.cshtml',
            { type: 'deleteEmployer', id: $('#employer-id').val() },
            (data) => $('#submit-result').html(
                '<div class="alert alert-info">' + JSON.parse(data).Message + '</div>'
            )
        );
    }
    );
</script>